<mat-toolbar color="accent">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon class="d-md-none d-xs-block">menu</mat-icon>
 </button>
 <span>My App</span>
 <span class="example-spacer"></span>
 <div class="ms-auto">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button> -->
 <!-- </div> -->
</mat-toolbar>

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-12 p-5 text-center p-5" id="header-cover">
      <img src="assets/images/angular.logo.png"  alt="">
      <h1 class="text-white">I am Taimoor Farid</h1>
      <h5 class="text-white">Welcome to my Portfolio</h5>
      <a mat-raised-button href="#info" style="text-decoration: none;">Explore Now</a>
    </div>
  </div>
</div>

<div class="container mt-5 p-5">
  <div class="row text-center">
    <div class="col-md-6 my-auto">
      <h1 class="accent">About Myself</h1>
      <mat-divider></mat-divider>
    </div>
    <div class="col-md-6">
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Education
            </mat-panel-title>
            <mat-panel-description>
                Education History
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-12">
              <h3 class="accent">Punjab Group of Colleges</h3>
            </div>
            <div class="col-md-12">
              <h6 >Fsc Pre-Engineering</h6>
            </div>
            <div class="col-md-12">
              <h3 class="accent">University of Management and Technology</h3>
            </div>
            <div class="col-md-12">
              <h6 >BS Information Technology</h6>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel  class="mt-4">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Working at
            </mat-panel-title>
            <mat-panel-description>
              Job Details
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="accent">Working as an Angular Developer at Boltech Solutions</p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </div>
</div>

<section id="info">
  <div class="container mt-5 pt-5">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="accent">Technologies I Work With</h1>
        <div class="row ">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <mat-card class="example-card shadow accent" >
                  <mat-card-header class="mx-auto my-2">
                    <mat-card-title class="fw-bold">Bootstrap</mat-card-title>
                    <mat-card-subtitle>UI Framework</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="mx-auto" src="assets/images/bootstrap.svg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      I have been using bootstrap to make good looking responsive websites and web apps.
                    </p>
                  </mat-card-content>

                </mat-card>

              </div>
              <div class="col-md-4 my-2 my-md-0">
                <mat-card class="example-card shadow accent">
                  <mat-card-header class="mx-auto">
                    <mat-card-title class="fw-bold">Angular</mat-card-title>
                    <mat-card-subtitle c>Front-End Framework</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="mx-auto" src="assets/images/angular.logo.png" alt="Angular">
                  <mat-card-content>
                    <p>
                      I have been working with Google's Powerfull frontend framework angular to make high quality web applications.
                    </p>
                  </mat-card-content>

                </mat-card>
              </div>

              <div class="col-md-4 ">
                <mat-card class="example-card shadow accent">
                  <mat-card-header class="mx-auto ">
                    <mat-card-title class="fw-bold">Laravel</mat-card-title>
                    <mat-card-subtitle>Backend Framework</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="mx-auto" src="assets/images/laravel.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      I have been using Laravel to make powerful Rest Apis to integrate them with my angular applications.
                    </p>
                  </mat-card-content>

                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container-fluid">
  <div class="row" id="header-cover">
    <div class="col-md-6 text-white ">
      <h3 class="text-center p-3">Reach Me Out At</h3>
      <p class="text-center">Email:- taimoor.farid2000@gmail.com</p>
      <p class="text-center">Ph no: 0332-12345678</p>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
      <span>
      <img src="assets/images/github.png" alt="">
      </span>
      <span>
      <a mat-raised-button style="text-decoration: none;" href="https://github.com/TeemCapital?tab=repositories" target="_blank">Check it out</a>
      </span>
    </div>
  </div>
</div>
